@namespace Rystem.Web.Components

<div class="@GetCssClass()">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string? Class { get; set; }
    [Parameter]
    public Bootstrap Bootstrap { get; set; }
    public string GetCssClass()
       => $"row {Bootstrap?.ToString()} {Class}";
}
