@namespace Rystem.Web.Components.Contents

<table class="table table-striped table-sticky">
    <thead>
        <tr>
            @foreach (var header in fixedHeaders)
            {
                <th>@header.Invoke(new())</th>
            }
        </tr>
        <tr>
            
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>