<div>
    @Message
    @ChildContent
</div>

@code {
    [CascadingParameter(Name = "Table")]
    public ITable Table { get; set; }
    [Parameter]
    public string? Message { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
