@namespace Rystem.Web.Components.Contents
@typeparam T

<CascadingValue Name="Table" Value="this">
    <table class="table table-striped table-sticky">
        @ChildContent
    </table>
</CascadingValue>