$primary: #89ABE3FF;
$secondary: #EA738DFF;
$success: #4ace97;
$info: #3bcbdf;
$warning: #e0ff8c;
$danger: #ce512b;
$light: #2f39c0;
$dark: #53bd94;

@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-utilities";
@import "bootstrap/variables";