@page "/"
@using Rystem.Web.Components.Customization;
@using Rystem.Web.Components.Contents;
@using Rystem.Web.Components.Test.Data;


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<Button Message="@Message" Size="SizeType.Large" Icon="IconType.Search" IconStyle="StyleType.Rounded" IconSize="SizeType.Large"
        Click="@Clicking">
    <Body>
        @Message
    </Body>
</Button>
<Table T="WeatherForecast">
    <FixedHeader Message="OK">
        Ciao
    </FixedHeader>
    <FixedHeader Message="Not Ok">
        Ciao2
    </FixedHeader>
</Table>

@code {
    public string? Message { get; set; } = "ciao";
    public ValueTask Clicking()
    {
        Message = "Clicked";
        _ = InvokeAsync(() => StateHasChanged());
        return ValueTask.CompletedTask;
    }
}
