.socialButton {
    display: block;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: var(--config-color);
    background: var(--config-background);
    cursor: pointer;
    font-size: 1.2em;
    margin: 5px;
    width: calc(100% - 10px);
    overflow: hidden;
    padding: 0 10px;
    user-select: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.socialButtonDivider {
    width: '10px';
}

.socialButtonIconContainer {
    position: relative;
    float: left;
    width: 8%;
    margin-top: 3px;
}

.socialButtonTextContainer {
    position: relative;
    float: left;
    width: 85%;
    text-align: left;
    margin-left: 5%;
    margin-top: 3px;
}
