@using Microsoft.Extensions.DependencyInjection
@using Rystem.Authentication.Social.Blazor.Components.Buttons
@using Rystem.Authentication.Social.Blazor.Components.Buttons.SocialButtons

<div class="centered">
    @if (Settings != null)
    {
        @if (Settings.Google.ClientId != null)
        {
            <GoogleButton />
        }
        @if (Settings.Microsoft.ClientId != null)
        {
            <MicrosoftButton />
        }
    }
</div>