@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer

<button type="button"
        class="logout-socialButton" style="color:@Color;background-color:@Background;"
        @onclick=@(() => _ = LogoutAsync())>
    <div>
        @Text
    </div>
</button>

@code {
    private const string LogoutText = "Logout";
    private const string LogoutBackground = "#606060";
    private const string LogoutColor = "#fefefe";
    [Parameter]
    public string? Text { get; set; } = LogoutText;
    [Parameter]
    public required string ActiveBackground { get; set; }
    [Parameter]
    public required string Background { get; set; } = LogoutBackground;
    [Parameter]
    public required string Color { get; set; } = LogoutColor;
    [CascadingParameter(Name = "SocialUser")]
    public SocialUserWrapper? SocialUser { get; set; }

    private async ValueTask LogoutAsync()
    {
        if (SocialUser != null)
            await SocialUser.LogoutAsync(false);
    }
}