@using Microsoft.Extensions.DependencyInjection
@using Rystem.Authentication.Social.Blazor.Components.Buttons

<div class="centered">
    @if (Settings != null)
    {
        @if (Settings.Google.ClientId != null)
        {
            <GoogleButton />
        }
    }
</div>