@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer

<button type="button"
        class="socialButton" style="color:@Color;background:@Background;"
        @onclick=@Clicked
        >
    <div>
        <div class="socialButtonIconContainer">
            @Icon
        </div>
        <div class="socialButtonDivider" />
        <div class="socialButtonTextContainer">@Text</div>
    </div>
</button>

@code {
    [Parameter]
    public required RenderFragment Icon { get; set; }
    [Parameter]
    public string? Text { get; set; }
    [Parameter]
    public required string ActiveBackground { get; set; }
    [Parameter]
    public required string Background { get; set; }
    [Parameter]
    public required string Color { get; set; }
    [Parameter]
    public required EventCallback Clicked { get; set; }
    [Parameter]
    public required string Uri { get; set; }
}