@page "/counter"
@using Microsoft.AspNetCore.Authorization
@using Rystem.Api.Test.Domain;
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@if (q2 != null)
{
    <div>@q.Id</div>
    <div>@q1</div>
    <div>@q2</div>
}

@code {
    [Inject]
    public IFactory<ISalubry> Factory { get; set; }
    [Inject]
    public IColam Colam { get; set; }
    [Inject]
    public ITeamCalculator TeamCalculator { get; set; }
    private EnrichedPlayer? q;
    private bool? q1;
    private bool? q2;
    private ChancedRealPlayerWrapper? q3;
    protected override async Task OnInitializedAsync()
    {
        // var salubry = Factory.Create();
        // var response = await salubry.GetAsync(2, new MemoryStream());
        // var file = new HttpFile(new MemoryStream(), 0, 0, "a", "a");
        // file.ContentType = "application/pdf";
        // var response2 = await Colam.GetAsync("dasdsa", new MemoryStream(), "fol", "cul", "cookie", new Faul { Id = "a", Name = "a" }, new Faul { Id = "b", Name = "b" }, new MemoryStream());
        // file = new HttpFile(new MemoryStream(), 0, 0, "a", "a");
        // file.ContentType = "application/pdf";
        // var response3 = await Colam.GetAsync("dasdsa", file, "fol", "cul", "cookie");
        await base.OnInitializedAsync();
        // var q1 = TeamCalculator.Chance;
        q3 = TeamCalculator.Chance;
        TeamCalculator.SetLeagueSettings(new() { LeagueId = 45 });
        q = TeamCalculator.Enrich(new Player { Id = 4 });
        await TeamCalculator.BuildRequestAsync(1, 1, new LeagueSetting { LeagueId = 5 }, true, false, true);
        q1 = await TeamCalculator.BuildRequest2Async(1, 1, new LeagueSetting { LeagueId = 5 }, true, false, true);
        await TeamCalculator.BuildRequestValueAsync(1, 1, new LeagueSetting { LeagueId = 5 }, true, false, true);
        q2 = await TeamCalculator.BuildRequestValue2Async(1, 1, new LeagueSetting { LeagueId = 5 }, true, false, true);
        // var q3 = TeamCalculator.CalculatePoint(new List<EnrichedPlayer> { new() { Id = 3 } });
    }
}