@using Rystem.Authentication.Social
@using Rystem.Authentication.Social.Blazor
@using Rystem.Authentication.Social.Blazor.Components
@using Rystem.Authentication.Social.TestApi.Models

<SocialAuthenticationRouter AppAssembly="typeof(Program).Assembly" DefaultLayout="typeof(Layout.MainLayout)" SetUser="SetUserAsync" TUser="SocialUser">
    <LoginPage>
        <h1>Your customization here.</h1>
    </LoginPage>
    <NotFound>
        <h1>Not Found</h1>
    </NotFound>
</SocialAuthenticationRouter>


@code {
    private async ValueTask SetUserAsync(SocialUser user)
    {
        var t = user;
    }
}