

body {
    background: var(--bs-body-color) !important;
    color: var(--dark) !important;
}

.table {
    --bs-table-color: var(--table-color);
    --bs-table-bg: var(--table-bg);
    --bs-table-header-bg: color-contrast(var(--table-bg));
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-striped-color: var(--table-striped-color);
    --bs-table-striped-bg: var(--table-striped-bg);
    color: var(--bs-table-color);
}

.navbar {
    --bs-navbar-color: var(--dark);
    --bs-navbar-brand-color: var(--dark);
    --bs-navbar-hover-color: color-contrast(opaque(var(--bs-navbar-color)));
    --bs-navbar-disabled-color: opaque(var(--bs-navbar-color));
    --bs-navbar-active-color: color-contrast(var(--dark));
    --bs-navbar-brand-hover-color: color-contrast(opaque(var(--bs-navbar-color)));
}

.dropdown-menu {
    --bs-dropdown-link-color: opaque(var(--dark));
    --bs-dropdown-link-hover-color: opaque(color-contrast(var(--dark)));
    --bs-dropdown-link-hover-bg: color-contrast(var(--bs-body-color));
    --bs-dropdown-link-active-color: color-contrast(opaque(var(--bs-body-color)));
    --bs-dropdown-link-active-bg: color-contrast(var(--bs-body-color));
    --bs-dropdown-link-disabled-color: color-contrast(opaque(var(--primary)));
    --bs-dropdown-header-color: var(--dark);
    --bs-dropdown-color: var(--dark);
    --bs-dropdown-bg: var(--bs-body-color);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
}


.form-control {
    font-size: var(--nav-input-font-size) !important;
}

input {
    font-size: var(--nav-input-font-size) !important;
}

.navbar-brand, .nav-item, .dropdown-item {
    font-size: var(--nav-font-size) !important;
}

    .nav-item .active {
        font-weight: var(--nav-font-weight) !important;
    }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    isolation: isolate;
}

.row {
    margin: 0px !important;
}

.dropdown-toggle::after {
    vertical-align: middle !important;
}

.table tbody > tr > td, .table thead > tr > th {
    vertical-align: middle;
    min-width: 250px;
}

.table .first-column {
    min-width: 100px !important;
}

.table-sticky th:first-child, .table-sticky td:first-child {
    position: sticky;
    left: 0px;
}

.table thead {
    background-color: var(--bs-table-header-bg) !important;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) rgba(0,0,0,0);
    box-sizing: border-box;
}

    *::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    *::-webkit-scrollbar-track {
        background: rgba(0,0,0,0);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--secondary);
        border-radius: 10px;
        border: 3px solid rgba(0,0,0,0);
    }

.input-group-text {
    padding: 0px 10px !important;
}

button.bg-transparent {
    color: var(--dark) !important;
}

.material-symbols-outlined-small {
    font-size: 16px;
}

.mw-75 {
    max-width: 75% !important;
}

/*.btn-outline-dark {
    --bs-btn-color: var(--dark);
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 33,37,41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212529;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none;
}*/
